<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Title }}</title>
</head>

<body>
  <div>
    <main>
      <div class="root-content">
        {{ .Content }}
      </div>
      <div class="index-posts">
        {{ range .Pages }}
          {{ .Render "post" }}
        {{ end }}
      </div>
    </main>
  </div>
</body>

</html>